@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-size: 4vh;
}

hmtl, body {
    min-height: 10vh;
    background-color: darkgray;
}
header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 8vw;
}
header > p {
    padding-bottom: 50px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}
section {

    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 1.5rem;
    padding-left: 30px;
    font-size: 30vw;
}

section > p{
    padding-bottom: 1.5rem;
}

section.normal{
    background-color: white;
    color: black;
}
/* .glass-car{
    width: 200px;
    height: 250px;
    background-color: #000000;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px #f26900c1;
    border: 1px solid #f26900c1;
    color: white;   
    text-align: center;
    display: inline-block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px;
    padding: 10px 10px 0px 10px;
} */
section.imagem {
    
    background-color: rgb(50, 50, 50);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.397);
    background-size: cover;
    background-attachment: fixed;

    
}
section.imagem > p {
    backdrop-filter: blur(10px);
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 4px 10px rgb(255, 255, 255);
    border-radius: 10px;
    display: inline-block;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.463);
}

section#img01 {
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
}
section#img02 {
    background-image: url('../imagens/background002.jpg');
    background-size: cover;
}
footer {
    color: white;
    padding: 10px;
    background-color: black;
    text-align: center;
}